PORT=3333

MONGO_USER=admin
MONGO_PASS=admin123
MONGO_URI=mongodb://admin:admin123@mongodb:27017/
DB_NAME=order-api

RABBITMQ_USER=guest
RABBITMQ_PASS=guest
RABBITMQ_URL=amqp://guest:guest@rabbitmq:5672/

REDIS_ADDR=redis:6379
REDIS_PASSWORD=
REDIS_DB=0
ORDER_CACHE_TTL=5m
